#pages {
    display: flex;
    justify-content: center;
    height: 42px;
    #controls {
        display: flex;
        align-items: center;
        justify-content: center;
        .ctrl-wrap {
            display: flex;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        button {
            width: 50px;
            padding: 0;
            color: #2A2A2A;
            font-size: 18px;
            font-weight: bold;
            background: #f2f2f2;
            &:hover {
                color: #fff;
                background: #00a651;
            }
        }
        .view-card {
            border-radius: 2px;
            margin-right: 10px;
            background: #f2f2f2 url("../../images/pages/baseline-view_column-24px_black.svg") 50% no-repeat;
            &:hover {
                background: #00a651 url("../../images/pages/baseline-view_column-24px.svg") 50% no-repeat;
            }
        }
        .view-tile {
            border-radius: 2px;
            margin-right: 10px;
            background: #f2f2f2 url("../../images/pages/baseline-view_module-24px_black.svg") 50% no-repeat;
            &:hover {
                background: #00a651 url("../../images/pages/baseline-view_module-24px.svg") 50% no-repeat;
            }
        }
        .top {
            border-radius: 2px;
            margin-left: 10px;
            background: #f2f2f2 url("../../images/pages/baseline-arrow_upward-24px_black.svg") 50% no-repeat;
            &:hover {
                background: #00a651 url("../../images/pages/baseline-arrow_upward-24px.svg") 50% no-repeat;
            }
        }
        .first {
            border-right: 1px solid #f2f2f2;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        .last {
            border-left: 1px solid #f2f2f2;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        .page-no {
            height: 42px;
            width: 100px;
            text-align: center;
            line-height: 42px;
            font-size: 16px;
            background: #f2f2f2;
            .page-num-input {
                vertical-align: top;
                width: 50%;
                background: #f2f2f2;
                margin: 0;
                padding: 0 5px 0 0;
                box-sizing: border-box;
                text-align: right;
            }
            .page-cnt {
                display: inline-block;
                width: 50%;
                height: 42px;
                text-align: left;
            }
        }
    }
    .controls-fixed {
        position: fixed;
        bottom: 0;
        .ctrl-wrap {
            -webkit-box-shadow: 0px -3px 5px 0px rgba(#000, .5);
            -moz-box-shadow: 0px -3px 5px 0px rgba(#000, .5);
            box-shadow: 0px 0px 5px 3px rgba(#000, .3);
        }
        .view-card, .view-tile {
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        .top {
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        .first {
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 0 !important;
        }
        .last {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}