$posterWidth: 182px;
$posterHeight: 268px;
$videoWidth: 380px;

.recomm-details {
    display: flex;
    border-radius: 2px;
    .poster {
        position: relative;
        img {
            width: $posterWidth;
            height: $posterHeight;
            border-radius: 3px;
        }
    }
    .info {
        position: relative;
        min-width: calc(100% - #{$posterWidth} - #{$videoWidth});
        max-width: calc(100% - #{$posterWidth} - #{$videoWidth});
        height: 415px;
        color: #f2f2f2;
        margin: 0 0 0 10px;
        text-overflow: ellipsis;
        .details-wrap {
            height: 268px;
            position: relative;
            .title {
                display: block;
                max-height: 70px;
                padding-bottom: 5px;
                overflow: hidden;
                font-size: 22px;
            }
            .orig-title {
                display: block;
                max-height: 35px;
                padding-bottom: 5px;
                overflow: hidden;
                font-style: italic;
                margin-top: 10px;
            }
            .misc {
                display: block;
                max-height: 104px;
                overflow: hidden;
                color: #888;
                line-height: 1.4;
                font-size: 14px;
                margin-top: 10px;
            }
            .actions {
                position: absolute;
                bottom: 0;
                height: 30px;
                display: flex;
                ul {
                    position: absolute;
                    right: -126px;
                    width: 165px;
                    padding: 6px;
                    background: #101010;
                    border: 1px solid #333;
                    box-shadow: 3px 3px 5px #000;
                    box-sizing: border-box;
                    border-radius: 3px;
                    li {
                        display: flex;
                        padding: 4px;
                        font-size: 14px;
                        line-height: 16px;
                        border-radius: 3px;
                        cursor: pointer;
                        &:hover {
                            background: #00a651;
                        }
                        span {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
                div, a {
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;
                    margin-right: 6px;
                    background-color: rgba(#717171, .6);
                    cursor: pointer;
                }
                .watch-later {
                    background: rgba(#717171, .6) url("../../images/details/ic_watch_later_white_24px.svg") 50% no-repeat;
                }
                .recomm {
                    background: rgba(#717171, .6) url("../../images/details/ic_thumb_up_white_24px.svg") 50% no-repeat;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .plot-txt {
        height: calc(100% - 268px - 50px);
        padding-right: 5px;
        margin-top: 10px;
        color: #f2f2f2;
        line-height: 1.5;
        overflow-y: auto;
        font-size: 14px;
    }
    .sites {
        display: flex;
        height: 30px;
        margin-top: 10px;
        a {
            display: block;
            height: 30px;
            margin-right: 6px;
        }
        .imdb {
            width: 67px;
            background: url("../../images/details/imdb.svg") no-repeat;
            background-size: contain;
        }
        .douban {
            width: 100px;
            background: url("../../images/details/douban.png") no-repeat;
            background-size: contain;
        }
        .mtime {
            width: 98px;
            border-radius: 3px;
            background: url("../../images/details/mtime.png") no-repeat;
            background-size: contain;
        }
    }
}

.recomm-trailer {
    height: 415px;
    margin: 0 0 0 20px;
    iframe {
        margin-bottom: 20px;
        border: 1px solid #333;
        box-sizing: border-box;
    }
}

.no-vid-recomm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #444;
    border: 1px solid #222;
    margin: 0 0 0 20px;
}